body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.topBar {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    padding: 10px;
}

.selectionSurface {
    position: relative;
    width: 75%;
}

.selection {
    border: 1px solid black;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    flex: 1 1 0;
    width: 100%;
    font-size: inherit;
}

.visible {
    display: flex;
}

img {
    display: block;
    width: 100%;
}